.skills {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  }
  
  .skills-bar {
    padding: 25px 30px;
  }
  
  .skills-bar .bar {
    margin: 25px 0;
  }
  
  .skills-bar .bar .info span {
    font-size: 1rem;
    font-weight: 500;
  }
  
  .skills-bar .bar .info {
    margin-bottom: 8px;
    color: #07374a;
  }
  
  .skills-bar .bar .progress-line {
    position: relative;
    height: 10px;
    width: 500px;
    background: #f0f0f0;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
  }
  
  .bar .progress-line span {
    position: absolute;
    /* background: #25b79f; */
    height: 100%;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    text-transfrom: uppercase;
    animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
  }
  .leaderboard {
    text-align: left;
    list-style-type: none;
    font-size: 16px;
  }

  @keyframes animate {
    100% {
      transform: scaleX(1);
    }
  }
  span div{
    margin-top: 15px;
    text-align: right;
    font-size: 24px;
  }

  @media (max-width: 700px) {
      .skills{
          width: 80%;
      }
  
      .skills-bar .bar .progress-line{
          width: 100%;
      }
  }      